//Global
@import '_partials-components/_global.scss';

//Partials
@import '_partials-components/_nav.scss';
@import '_partials-components/_main-header.scss';
@import '_partials-components/_about-section.scss';
@import '_partials-components/_skillsets.scss';

//Mixins
@import '_mixins/_mixins.scss';
